@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Landing Page */

body {
    background-color: rgb(4, 3, 41);

}

.Main-page-desktop {
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.logo {
    width: 36em;
    height: 30em;
}

.Introduction-Empressario {
    margin-top: 3em;
}

.Logo-Empressario {
    padding-top: 3em;
}

.Logo-Empressario img {
    transition: transform 1s ease;
}

.Logo-Empressario:hover img {
    transform: rotate(5deg) scale(1.05);
}

.register-empressario {
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(211, 191, 17);
    font-weight: 800;
}

.register-empressario-1 {
    font-size: 2em;
    font-family: cursive;
    color: rgb(137, 141, 11);
    font-weight: 300;
    padding-left: 1em;
    padding-top: 2em;
    font-family: 'Poppins', sans-serif;

}

.register-empressario-2 {
    font-size: 3em;
    font-family: cursive;
    color: rgb(158, 211, 23);
    font-weight: 600;
    padding-left: 0.8em;
    font-family: 'Poppins', sans-serif;
}



.register-empressario-3 {
    width: 90%;
    font-family: cursive;
    font-weight: 800;
    padding-left: 2.5em;
    /* margin: 40px auto; */
    /* text-align: center; */
}

.btn-12 {
    line-height: 42px;
    background-color: rgb(6, 5, 60);
    text-align: left;
    justify-content: end;
    align-items: end;
}

.btn-12 span {
    background: rgb(144, 233, 1);
    background: linear-gradient(0deg, rgb(181, 227, 12) 0%, rgb(211, 194, 10) 100%);
    display: block;
    position: absolute;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 150px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;

    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(1) {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}


.Introduction-Empressario {
    display: flex;
    flex-direction: column;
    padding: 2em;
    flex-wrap: wrap;
    line-height: 6em;
}

/* Landing Page */


/* navbar*/
nav {
    /* background-color: #333; */
    height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    font-size: 18px;
}

.navbar-item a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    transition: 0.3s all;
}

.navbar-item a:after {
    content: "";
    position: relative;
    background-color: rgb(215, 200, 144);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-link:hover:after {
    width: 100%;
}

li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-attachment: coral;
    margin: auto;
    display: block;
}

li a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

li a:hover {
    color: coral;
}

.navbar-item a:hover {
    color: rgb(215, 200, 144);
}

.hover-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(215, 200, 144);
    transition: width .3;
}

.register-btn {
    float: right;
    padding: 15px 50px;
    transition: all .3s;
    /* position: relative; */
    overflow: hidden;
    z-index: 1;
}

.register-btn1 {
    color: #0a1f2a;
    background-color: rgb(215, 200, 144);
    width: 150px;
    height: 45px;
    border-radius: 20px;
}

/* navbar*/







@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");




.text-container {
    /* display: flex; */
    /* justify-content: left; */
    /* block-size: min(6rem, 20vw); */
    /* min-inline-size: 22.5rem; */
}

.text-stroke {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    letter-spacing: 4px;
    fill: none;
    stroke: #e8e816;
    stroke-width: 2;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: textStrokeAnim 4000ms linear both;
    animation-iteration-count: 1;
    width: 100%;
}



@keyframes textStrokeAnim {
    0% {
        stroke-dasharray: 100%;
        stroke-dashoffset: 100%;
        fill: #0000;
    }

    95% {
        stroke-dasharray: 0%;
        /* stroke-dashoffset: 90%; */
        fill: #0000;
    }

    100% {
        stroke-dasharray: 0%;
        stroke-dashoffset: 0%;
        fill: #c1d06a;
        filter: drop-shadow(2px 2px 10px #0007);
    }
}





/* slider */


/* body {
    font-family: Roboto, Sans-serif;
}

#container {
    width: 100%;
    min-height: 600px;
    height: 100vh;
    position: relative;
    background: #e2e2e2;
    overflow: visible;
}

#holder {
    max-width: 800px;
    width: 98%;
    min-height: 360px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#image {
    width: 60%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 200;
    background: blue;
    box-shadow: 0px 40px 120px 0px rgba(0, 0, 0, .52);
    overflow: visible;
}

#right {
    width: 60%;
    height: 100%;
    float: right;
    position: relative;
}

#text {
    width: 40%;
    height: 420px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    background: rgba(255, 255, 255, .57);
    box-shadow: 0px 40px 120px 0px rgba(0, 0, 0, .52);
}

a {
    display: block;
    text-decoration: none;
    outline: none;
    outline-color: none;

}

nav {
    width: 140px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 -25px -70px;
    z-index: 1000;
    box-shadow: 0px 7px 24px 3px rgba(0, 0, 0, .52);
    display: none;
}

#leftBtn {
    width: 50%;
    height: 100%;
    float: left;
    color: rgba(255, 255, 255, .57);
    background: #232323;
    font-size: 25px;
    line-height: 200%;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, .57);
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#rightBtn {
    width: 50%;
    height: 100%;
    float: right;
    color: rgba(255, 255, 255, .57);
    background: #232323;
    font-size: 25px;
    line-height: 200%;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .57);
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#leftBtn:hover,
#rightBtn:hover {
    color: #fff;
}

#nav-cirlces {
    width: 96px;
    height: 20px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    margin-left: -50px;
}

.circle {
    width: 20px;
    height: 100%;
    float: left;
    border-radius: 100%;
    border: 2px solid green;
    margin: 0 6px;
    cursor: pointer;
    -webkit-transition: all .75s cubic-bezier(.86, .3, .07, 1);
    -moz-transition: all .75s cubic-bezier(.86, .3, .07, 1);
    -o-transition: all .75s cubic-bezier(.86, .3, .07, 1);
    transition: all .75s cubic-bezier(.86, .3, .07, 1);
}

#centerText {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 20%;
    margin-top: -100px;
    padding: 10px 0;
    overflow: visible;
}

p {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 45px;
    left: 0;
    right: -150px;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    color: #232323;
    padding: 0 25px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
    -moz-transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
    -o-transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
    transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
}

p.quote.active {
    right: 0;
    opacity: 1;
    background: transparent;
}

p.quote:nth-child(2) {
    top: 25px;
}

.active {
    background: yellow;
}

.img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain !important;
    position: absolute;
    right: -100%;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    opacity: 0;
    z-index: 400;
    -webkit-transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
    -moz-transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
    -o-transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
    transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
}

.img.active {
    right: 0;
    opacity: 1;
    z-index: 500;
}

.jobs {
    background: #fff url(https://cdn.jsdelivr.net/gh/linuxguist/bizpage@main/assets/img/portfolio/card2.jpg);
}

.zuck {
    background: #fff url(https://cdn.jsdelivr.net/gh/linuxguist/bizpage@main/assets/img/portfolio/construction.jpg);
}

.musk {
    background: #fff url(https://cdn.jsdelivr.net/gh/linuxguist/bizpage@main/assets/img/portfolio/web3.jpg);
}

#bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;

    opacity: 0;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.slide.active {

    opacity: 1;
}

.jobs-bg {
    background: #fff url(https://i.imgur.com/LrRr7Af.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.zuck-bg {
    background: #fff url(https://i.imgur.com/LrRr7Af.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.musk-bg {
    background: #fff url(https://i.imgur.com/LrRr7Af.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width:700px) {

    #centerText p {
        font-size: 20px;
    }
}

@media screen and (max-width:580px) {

    #holder {
        max-width: 700px;
        width: 100%;
        min-height: 360px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: red;
        margin: auto;
    }

    .img {
        background-position: top center !important;
    }

    #image {
        width: 220px;
        height: 250px;
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -280px;
        margin-left: -110px;
    }

    #right {
        width: 100%;
        height: 100%;
        float: right;
        position: relative;
        background: blue;
    }

    #text {
        width: 90%;
        height: 320px;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    #nav-cirlces {
        display: none;
    }

    #centerText {
        width: 100%;
        height: 200px;
        position: absolute;
        top: 34%;
        margin-top: -100px;
        padding: 150px 0 !important;
        overflow: visible;
    }

}

@media screen and (max-width:450px) {
    #image {
        width: 200px;
        height: 230px;
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -100px;
    }

    #text {
        width: 100%;
        height: 320px;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    #nav-cirlces {
        display: none;
    }

    #centerText {
        width: 100%;
        height: 200px;
        position: absolute;
        top: 34%;
        margin-top: -100px;
        padding: 120px 0 !important;
        overflow: visible;
    }

}

.quote {
    vertical-align: middle;
} */

/* slider */