/* Landing Page */

body {
    background-color: rgb(4, 3, 41);
}

.Main-page-desktop {
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    width: 30em;
    height: 30em;
}

.Introduction-Empressario {
    margin-top: 6em;
}

.register-empressario {
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(211, 191, 17);
    font-weight: 800;
}

.register-empressario-1 {
    font-size: 2em;
    font-family: cursive;
    color: rgb(137, 141, 11);
    font-weight: 300;
}

.register-empressario-2 {
    font-size: 3em;
    font-family: cursive;
    color: rgb(158, 211, 23);
    font-weight: 600;
}



.register-empressario-3 {
    width: 90%;
    /* margin: 40px auto; */
    /* text-align: center; */
}

.btn-12 {
    line-height: 42px;
    background-color: rgb(6, 5, 60);
    text-align: left;
    justify-content: end;
    align-items: end;
}

.btn-12 span {
    background: rgb(144, 233, 1);
    background: linear-gradient(0deg, rgb(181, 227, 12) 0%, rgb(211, 194, 10) 100%);
    display: block;
    position: absolute;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 150px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;

    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(1) {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}


.Introduction-Empressario {
    display: flex;
    flex-direction: column;
    padding: 2em;
    flex-wrap: wrap;
    line-height: 6em;
}

/* Landing Page */


/* navbar*/
nav {
    /* background-color: #333; */
    height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    font-size: 13px;
}

.navbar-item a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    transition: 0.3s all;
}

.navbar-item a:after {
    content: "";
    position: relative;
    background-color: rgb(215, 200, 144);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-link:hover:after {
    width: 100%;
}

li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-attachment: coral;
    margin: auto;
    display: block;
}

li a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

li a:hover {
    color: coral;
}

.navbar-item a:hover {
    color: rgb(215, 200, 144);
}

.hover-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(215, 200, 144);
    transition: width .3;
}

.register-btn {
    float: right;
    padding: 15px 50px;
    transition: all .3s;
    /* position: relative; */
    overflow: hidden;
    z-index: 1;
}

.register-btn1 {
    color: #0a1f2a;
    background-color: rgb(215, 200, 144);
    width: 150px;
    height: 45px;
    border-radius: 20px;
}

/* navbar*/